<div id="comment_<%= comment.id %>" class="comment-box<% if comment.parent_id.nil? %> comment-no-indent<% else %> comment-indent<% end %>">
  <div class="score-col-sm">
    <div class="uparrow<% if current_user.present? && current_user.liked?(comment) then %> voted<% end %>" id="comment-<%= comment.id %>-up">
      <%= link_to like_comment_path(comment), :remote => true do %><span class="fa fa-arrow-up"></span><% end %>
    </div>
    <div class="downarrow<% if current_user.present? && current_user.disliked?(comment) then %> voted<% end %>" id="comment-<%= comment.id %>-down">
      <%= link_to dislike_comment_path(comment), :remote => true do %><span class="fa fa-arrow-down"></span><% end %>
    </div>
  </div>

  <a href="javascript:void(0)" class="pull-left" data-toggle="collapse" data-target="#comment_<%= comment.id %>_content"><span class="fa fa-minus-square"></span></a>
  &nbsp;<strong>[<span id="comment_<%= comment.id %>_wisdom"><%= comment.cached_votes_score %></span>]</strong>
  <small><span class="faded">
    <%= link_to comment.user.username, user_path(comment.user) %> commented <%= time_ago_in_words comment.created_at %> ago
    <% unless user_signed_in? %><span><%= link_to 'Sign in to reply', new_user_session_path %></span> <% end %><span id="comment_<%= comment.id %>_vote_status" class="text-danger"></span> 
  </span></small>
  <div id="comment_<%= comment.id %>_content">
    <div class="comment">
  	  <%= simple_format h comment.content %>
    </div>
    <div class="vote-box">
      <% if user_signed_in? %>
        <%= link_to 'Reply', reply_comment_path(comment), :method => :post, :remote => true, :id => "submit#{comment.id}" %>
        <script type="text/javascript">
          $("#submit<%= comment.id %>").hover(function() {
              $("#comment_<%= comment.id %>_content").toggleClass("comment_box_reply");
          });
        </script>
      <% end %>
    </div>  
  </div>
  <div id="comment_<%= comment.id %>_reply" class="reply"></div>
  <%
    if depth.nil?
      depth = 0
    end

    depth = depth + 1
  %>
  <div id="comment_<%= comment.id %>_children" class="vote-box">
    <% if depth >= maxdepth %>
      <% if comment.children.any? %>
      <%= link_to "View #{pluralize(comment.children.count, 'reply')}", children_comment_path(comment), :remote => true %>
      <% end %>
    <% else %>
      <%= render :partial => 'comments/comment', :collection => comment.children, :locals => {:depth => depth, :maxdepth => maxdepth} %>
    <% end %>
  </div>
</div>
<div class="clearfix"></div>
