<%= form_for Comment.new, class: "comment-form", html: {remote: local_assigns.has_key?(:remote)} do |f| %>
	<%= f.hidden_field :post_id, value: post.id %>
	<% if local_assigns.has_key?(:parent) %>
	<%= f.hidden_field :parent_id, value: parent %>
	<% end %>

	<div class="form-group">
		<%= f.text_area :content, :rows => "2", class: "form-control expand", onfocus: "this.rows=5;", placeholder: local_assigns.has_key?(:parent) ? "Post reply" : "Post comment" %>
	</div>
	<div class="form-group">
		<% if local_assigns.has_key?(:parent) %>
		<%= f.submit 'Post Reply', class: "btn btn-primary btn-sm" %>
		<%= f.button 'Cancel', id: "comment_#{parent}_reset", type: "reset", class: "btn btn-default btn-sm" %>
		<script type="text/javascript">
    $("#comment_<%= parent %>_reset").click(function() {
        $("#comment_<%= parent %>_reply").html("");
    });
    </script>
		<% else %>
		<%= f.submit 'Comment', class: "btn btn-primary btn-sm" %>
		<% end %>
	</div>
<% end %>