<div class="well profile">
          <h3 class="profile-headline"><%= user.username %></h3>
          <p class="faded"><small>
          <% if user.posts.any? %>
	          <%= t :member_length, :time => time_ago_in_words(user.created_at) %>
	        <% else %>
	        	<%= t :lurker_length, :time => time_ago_in_words(user.created_at) %>
	        <% end %>
          </small></p> 
  <div class="col-xs-12 divider text-center">
      <div class="col-xs-12 col-sm-4 emphasis">
          <h2><strong><%= user.posts.count %></strong></h2>                    
          <p><small>Posts</small></p>
      </div>
      <div class="col-xs-12 col-sm-4 emphasis">
          <h2><strong><%= user.comments.count %></strong></h2>                    
          <p><small>Comments</small></p>
      </div>
      <div class="col-xs-12 col-sm-4 emphasis">
          <h2><strong>43</strong></h2>                    
          <p><small>Prestige</small></p>
      </div>
  </div>
</div>