<div class="post">
	<span class="rank"><%= rank %></span>
	<div class="score-col">
		<div class="uparrow<% if current_user.liked?(post) then %> voted<% end %>" id="post-<%= post.id %>-up">
			<%= link_to up_post_path(post), :remote => true do %><span class="glyphicon glyphicon-chevron-up"></span><% end %>
		</div>
		<div class="score"><span id="post-<%= post.id %>-score"><%= post.cached_weighted_score %></span></div>
		<div class="downarrow<% if current_user.disliked?(post) then %> voted<% end %>" id="post-<%= post.id %>-down">
			<%= link_to down_post_path(post), :remote => true do %><span class="glyphicon glyphicon-chevron-down"></span><% end %>
		</div>
	</div>
	<div class="post-content">
		<h4 class="clear-bottom">
			<% if post.url.present? %>
				<%= link_to post.title, post.url %>
			<% else %>
				<%= link_to post.title, sub_post_path(post.sub, post) %>
			<% end %>
		</h4>
	  <h6 class="clear-bottom">submitted <time title="<%= post.created_at %>"><%= time_ago_in_words post.created_at %> ago</time> by <%= link_to post.user.username, user_path(post.user) %></h6>
		<%= link_to "comments", sub_post_path(post.sub, post) %>
	</div>
</div>
