<div class="sidebar">
	<div class="panel panel-info clear-bottom">
    <div class="panel-heading clearfix">
      <h4 class="panel-title pull-left"<% if user_signed_in? %> style="padding-top: 7.5px;"<% end %>><strong><%= @sub.name %></strong></h4>
    	<div class="pull-right">
				<%= render 'subs/subscription_form' %>
			</div>	
    </div>
  	<div class="panel-body">
			<%= link_to "Submit a link", sub_new_path(@sub), :class => "btn btn-default btn-group btn-group-justified" %>
			<br>
			<%= link_to "Submit a post", sub_selfie_path(@sub), :class => "btn btn-default btn-group btn-group-justified" %>
			<br>
			<div class="stats">
					<strong id="subscribers" class="stat">
			      <%= @sub.subscribers.count %>
			    </strong>
			    subscribers
			    <br>
			    <strong id="visitors" class="stat">
			      0
			    </strong>
			    visitors
			</div>
			<br>
			Crew:
			<ul>
				<li><%= link_to "Example crew", current_user %></li>
			</ul>
		</div>
	</div>
	<p class="text-center"><small>Created by: <%= link_to @sub.creator.username, user_path(@sub.creator) %></small></p>
</div>