<div class="sidebar">
	<h4 class="pull-left"<% if user_signed_in? %> style="padding-top: 0px;"<% end %>><strong><%= @sub.name %></strong></h4>
	<%= link_to t(:post_new), sub_new_path(@sub), :class => "btn btn-default btn-group btn-group-justified" %>
	<br>
	<%= link_to t(:post_selfie), sub_selfie_path(@sub), :class => "btn btn-default btn-group btn-group-justified" %>
	<br>
	<div class="stats">
			<div class="pull-right">
				<%= render 'subs/subscription_form' %>
			</div>	
			<strong id="subscribers" class="stat">
	      <%= @sub.subscribers.count %>
	    </strong>
	    <%= t('sub_subscriber_count', :count => @sub.subscribers.count) %>
	    <br>
	    <strong id="visitors" class="stat">
	      0
	    </strong>
	    <%= t :sub_visitor_count %>
	</div>
	<div class="description">
		<small><strong><%= @sub.title %></strong></small><br>
		<%= @sub.description %>
	</div>
	<p><small><%= t :sub_captain %>: <%= link_to @sub.creator.username, user_path(@sub.creator) %></small>
	<br><small><%= t :sub_crew %>:</small></p>
	<ul>
		<li><%= link_to "Example crew", current_user %></li>
	</ul>
</div>
