<div class="sidebar">
	<%= link_to "Submit a link", sub_new_path(@sub), :class => "btn btn-default btn-group btn-group-justified" %>
	<br>
	<%= link_to "Submit a post", sub_selfie_path(@sub), :class => "btn btn-default btn-group btn-group-justified" %>
	<br>
	<div class="stats">
			<%= render 'subscription_form' %>
			<strong id="subscribers" class="stat">
	      <%= @sub.subscribers.count %>
	    </strong>
	    subscribers
	    <br>
	    <strong id="visitors" class="stat">
	      0
	    </strong>
	    visitors
	</div>
	<br>
	Created by: <%= link_to @sub.creator.username, user_path(@sub.creator) %>
	<br>
	Crew:
	<ul>
		<li><%= link_to "Example crew", current_user %></li>
	</ul>
</div>