<%= form_for @post, :url => url_for(:controller => 'posts', :action => 'create_url') do |f| %>
  <% if @post.errors.any? %>
      <div class="alert alert-danger">Oops, there was something wrong with the data submitted.</div>
  <% end %>

  <% if f.object.new_record? %>

  <div class="form-group"><%= f.label :title %> <span class="pull-right">140 characters</span><br>
  <%= f.text_field :title, :autofocus => true, :class => "form-control", :placeholder => "Title" %></div>

  <% end %>

  <div class="form-group"><%= f.label :url %><br>
  <%= f.url_field :url, :class => "form-control", :placeholder => "URL" %></div>

  <div class="actions">
  <% if f.object.new_record? %>
    <%= f.submit "Create Post", :class => "btn btn-success" %>
  <% else %>
    <%= f.submit "Save", :class => "btn btn-success" %>
  <% end %>
  </div>
<% end %>
