<div class="well">
<%= form_for @post, :url => url_for(:controller => 'posts', :action => 'create_selfie') do |f| %>
<fieldset>
  <legend>Submit a self post on <%= link_to @sub.name, sub_path(@sub) %></legend>
  <% if @post.errors.any? %>
      <div class="alert alert-danger">Oops, there was something wrong with the data submitted.</div>
  <% end %>

  <% if f.object.new_record? %>

  <div class="form-group"><%= f.label :title %> <span class="pull-right">140 characters</span><br>
  <%= f.text_field :title, :autofocus => true, :class => "form-control", :placeholder => "Title" %></div>

  <% end %>

  <div class="form-group"><%= f.label :text %><br>
  <%= f.text_area :text, :class => "form-control", :placeholder => "Self text", :rows => "8" %></div>

  <div class="actions">
  <% if f.object.new_record? %>
    <%= f.submit "Submit Post", :class => "btn btn-success" %>
  <% else %>
    <%= f.submit "Save", :class => "btn btn-success" %>
  <% end %>
  </div>
</fieldset>
<% end %>
</div>
