<nav role="navigation">
	<div class="navbar-header">
		 <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse-1"> <span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button> 
		 <%= link_to "Skipper", root_path, :class => "navbar-brand" %>
	</div>
	
	<div class="collapse navbar-collapse" id="navbar-collapse-1">
		<ul class="nav navbar-nav">
			<li class="<%= 'active' if current_page?(root_path) %>">
				<%= link_to root_path do %><strong>Discover</strong><% end %>
			</li>
			<% if user_signed_in? %>
			
			<% end %>
		</ul>
		<ul class="nav navbar-nav navbar-right">
			<% if user_signed_in? %>
				<li><%= link_to "Logout", destroy_user_session_path, method: :delete %></li>
			<% else %>
				<li><%= link_to "Sign up", remote_sign_up_path, :remote => true %></li>
				<li><%= link_to "Login", new_user_session_path %></li>
			<% end %>
		</ul>
	</div>	
</nav>