<!DOCTYPE html>
<html>
<head>
  <title><%= t :brand %><% if content_for? :title %>: <%= yield :title %><% end %></title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="navbar navbar-inverse navbar-static-top navbar-no-curves clear-bottom">
	<div class="navbar-header">
		<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-secondary"> 
			<span class="fa-bars">
		</button> 
		<strong><%= link_to t(:brand), root_path, :class => "navbar-brand" %></strong>
	</div>
	<div class="navbar-collapse collapse navbar-inverse-collapse" id="navbar-secondary">
		<ul class="nav navbar-nav">
			<% if user_signed_in? %>
	      <li class="dropdown" id="community-menu">
	        <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><%= t :sub_list %> <b class="caret"></b></a>
	        <ul class="dropdown-menu">
	        	<% current_user.subscriptions.each do |subscription| %>
	        	<li><%= link_to subscription.name, sub_path(subscription) %></li>
	        	<% end %>
	        </ul>
	      </li>
     	<% end %>
		</ul>
    <ul class="nav navbar-nav navbar-right">
			<% if user_signed_in? %>
				<li><%= link_to user_path(current_user) do %><span class="fa fa-user"></span>&nbsp; <%= current_user.username %><% end %></li>
				<li><%= link_to destroy_user_session_path, method: :delete, :title => t(:logout) do %><span class="fa fa-sign-out"></span><% end %></li>
			<% else %>
				<li><%= link_to t(:register), remote_sign_up_path, :remote => true %></li>
				<li><%= link_to new_user_session_path do %><span class="fa fa-sign-in"></span>&nbsp; <%= t :login %><% end %></li>
			<% end %>
		</ul>
	</div>
</div>
<div class="container-fluid content">
	<div class="row-fluid clearfix">
		<div class="col-md-9 column">		
			<ul class="breadcrumb clear-bottom">
			  <li><%= link_to t(:nav_home), root_path %> <small><%= t :separator %></small> <%= link_to t(:nav_all), root_path %></li>
			  <% if content_for? :breadcrumb %>
			  	<li class="active"><%= yield :breadcrumb %></li>
			  <% end %>
			  <% if content_for? :filter %>
			  	<li><%= yield :filter %>
			  <% end %>
			</ul>
			<div class="pull-right">
				<% if notice %>
				  <div class="alert alert-info alert-dismissable">
				  	<%= button_tag "x", :class => "close btn-sm", "data-dismiss" => "alert", :type => "button" %>
				  	<strong><%= notice %></strong>
				  </div>
				<% end %>
				<% if alert %>
				  <p class="alert alert-danger alert-dismissable"><span class="glyphicon glyphicon-exclamation-sign"></span> <strong><%= alert %></strong></p>
				<% end %>
			</div>
			<%= yield %>
		</div>
		<div class="col-md-3 column sidebar">
			<%= yield :sidebar %>
		</div>
	</div>
</div>
</body>
</html>
